apie-mus.html
<!DOCTYPE html>
<html lang="lt">
    <head>
      <title>VSBL | Apie VSBL Web studio, jos komandos narius bei klientus</title>
      <meta name="description" content="Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="https://vsbl.lt/apie-mus"><link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/img/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/img/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/img/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="assets/img/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="assets/img/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="assets/img/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="assets/img/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="assets/img/favicon/mstile-310x310.png" />
      <meta property="og:locale" content="lt_LT">
      <meta property="og:type" content="website">
      <meta property="og:title" content="VSBL Web Studio | UX, UI &amp; Web development studija">
      <meta property="og:description" content="Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti.">
      <meta property="og:url" content="https://vsbl.lt/">
      <meta property="og:site_name" content="VSBL agency">
      <meta property="fb:app_id" content="1739287756320420">
      <meta property="og:image" content="http://vsbl.lt/assets/img/og-image.png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K6CM9GL');
      </script>
      <!--
      @license
      MyFonts Webfont Build ID 3623792, 2018-08-18T03:59:41-0400
      The fonts listed in this notice are subject to the End User License
      Agreement(s) entered into by the website owner. All other parties are 
      explicitly restricted from using the Licensed Webfonts(s).
      You may obtain a valid license at the URLs below.
      Webfont: Gilroy-SemiBold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
      Webfont: Gilroy-Medium by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
      Webfont: Gilroy-ExtraBold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/
      Webfont: Gilroy-Bold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
      Webfont: Gilroy-Black by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/black/
      License: https://www.myfonts.com/viewlicense?type=web&buildid=3623792
      Licensed pageviews: 10,000
      Webfonts copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
      © 2018 MyFonts Inc
      
      -->
      <link rel="stylesheet" href="assets/css/style.css">
    </head>
  <body>
    <div class="page--white page--about" id="page-container">
        <header>
          <div class="grid grid--full">
            <div class="row">
              <div class="col xs-12-12"><a class="logo" href="/"><img src="/assets/img/logo.svg" alt="VSBL Web Studio logotipas" title="VSBL Web Studio logotipas"></a>
                <nav class="nav--desktop">
                  <ul>
                    <li><a href="https://vsbl.lt/darbai">Darbai</a></li>
                    <li><a href="https://vsbl.lt/internetiniu-svetainiu-kurimas">Galimybės</a></li>
                    <li class="active"><a href="https://vsbl.lt/apie-mus">Apie mus</a></li>
                    <li><a href="https://vsbl.lt/kontaktai">Kontaktai</a></li>
                  </ul>
                </nav>
                <button id="burger-menu-btn"><span></span><span></span></button>
                <nav class="nav--mobile">
                  <ul>
                    <li><a href="https://vsbl.lt/darbai">Darbai</a></li>
                    <li><a href="https://vsbl.lt/internetiniu-svetainiu-kurimas">Galimybės</a></li>
                    <li class="active"><a href="https://vsbl.lt/apie-mus">Apie mus</a></li>
                    <li><a href="https://vsbl.lt/kontaktai">Kontaktai</a></li>
                  </ul>
                  <div class="social-links">
                    <ul>
                      <li><a href="https://www.facebook.com/Vsblwebstudio/" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path d="M40.43 21.739h-7.645v-5.014c0-1.883 1.248-2.322 2.127-2.322h5.395V6.125l-7.43-.029c-8.248 0-10.125 6.174-10.125 10.125v5.518h-4.77v8.53h4.77v24.137h10.033V30.269h6.77l.875-8.53z" fill="#ffffff"/>
</svg></a></li>
                      <li><a href="https://dribbble.com/vsblwebstudio" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M52.43 24.152a24.597 24.597 0 0 0-3.72-8.845 24.87 24.87 0 0 0-10.873-8.955 24.813 24.813 0 0 0-19.247 0 24.777 24.777 0 0 0-10.873 8.955 24.56 24.56 0 0 0-3.722 8.845 24.877 24.877 0 0 0 0 9.956 24.67 24.67 0 0 0 6.737 12.502 24.696 24.696 0 0 0 7.857 5.295 24.687 24.687 0 0 0 9.624 1.945 24.668 24.668 0 0 0 13.822-4.224 24.857 24.857 0 0 0 6.674-6.672 24.62 24.62 0 0 0 4.222-13.826 24.706 24.706 0 0 0-.501-4.976zm-3.114 4.767c-.305-.066-7.449-1.604-14.703-.692a63.211 63.211 0 0 0-1.859-4.152c8.338-3.402 11.723-8.297 11.762-8.355a21.006 21.006 0 0 1 4.8 13.199zm-7.16-15.634c-.053.082-3.059 4.658-11.027 7.645-3.609-6.631-7.574-11.898-7.891-12.316a21.077 21.077 0 0 1 4.975-.596 21.029 21.029 0 0 1 13.943 5.267zm-19-4.654c0 .002-.004.004-.004.004l-.062.014c.021-.006.045-.01.066-.018zm-3.951 1.404c.281.377 4.186 5.67 7.84 12.164-10.137 2.693-18.934 2.588-19.492 2.578 1.372-6.539 5.765-11.961 11.652-14.742zM7.102 29.128c0-.225.01-.445.018-.667.372.008 10.804.245 21.673-3.008a69.069 69.069 0 0 1 1.713 3.589c-.279.078-.557.162-.832.252-11.393 3.682-17.172 13.934-17.172 13.934s.008.006.008.01a21.042 21.042 0 0 1-5.408-14.11zm21.111 21.113a21.02 21.02 0 0 1-13.447-4.838c.277.225.473.369.473.369s4.047-8.826 16.566-13.188c.047-.018.094-.031.141-.045 2.971 7.719 4.197 14.184 4.51 16.029a21.003 21.003 0 0 1-8.243 1.673zM40.01 46.64c-.215-1.275-1.34-7.471-4.109-15.08 6.814-1.09 12.721.779 13.156.922-.94 5.882-4.307 10.956-9.047 14.158z" fill-rule="evenodd" fill="#ffffff"/>
</svg></a></li>
                    </ul>
                  </div>
                  <div class="lines"><span></span><span></span></div>
                </nav>
              </div>
            </div>
          </div>
        </header>
      <main class="main--about">
        <div class="about__mobile-content">
          <div class="grid">
            <div class="row">
              <div class="col xl-push-left-1-12 lg-8-12 md-10-12">
                <h1><span class="animation-container"><span class="animation-item" style="transition-delay: 100ms">Apie mus</span></span></h1>
                <p><span class="animation-container"><span class="animation-item" style="transition-delay: 150ms">geriausiai kalba mūsų darbai, tačiau norime papasakoti daugiau.			</span></span></p>
              </div>
            </div>
          </div>
        </div>
        <section id="about">
          <div class="grid">
            <div class="row row--inline-middle">
              <div class="col lg-5-12 lg-push-left-1-12 md-6-12">
                <div class="text-box">
                  <h2><span class="animation-container"><span class="animation-item" style="transition-delay: 100ms;">Kas mes?</span></span></h2>
                  <p><span class="animation-container"> <span class="animation-item" style="transition-delay: 150ms;">VSBL Web Studio profesionalų komandą subūrė bendras žinojimas, kad sėkmingas verslas turi būti matomas ir toks, kurį noris matyti.</span></span><span class="animation-container"><span class="animation-item" style="transition-delay: 200ms;">Nuo tada, sutelkę skirtingas savo patirtis bei siekdami geriausių - išmatuojamų rezultatų, dirbame tik su tais, kurie savo amatui atsidavę taip, kaip ir mes.</span></span></p>
                </div>
              </div>
              <div class="col lg-4-12 lg-push-left-1-12 md-6-12">
                <div class="team-slider-container">
                  <div class="team-slider">
                    <div class="slider__item"><img src="assets/img/team/team-darius.jpg" alt="VSBL Agency komandos narys - Darius"></div>
                    <div class="slider__item"><img src="assets/img/team/team-ida.jpg" alt="VSBL Agency komandos narys - Ida"></div>
                    <div class="slider__item"><img src="assets/img/team/team-karolis.jpg" alt="VSBL Agency komandos narys - Karolis"></div>
                    <div class="slider__item"><img src="assets/img/team/team-tomas.jpg" alt="VSBL Agency komandos narys - Tomas"></div>
                    <div class="slider__item"><img src="assets/img/team/team-roman.jpg" alt="VSBL Agency komandos narys - Roman"></div>
                    <div class="slider__item"><img src="assets/img/team/team-renata.jpg" alt="VSBL Agency komandos narys - Renata"></div>
                  </div>
                  <div class="team-slider-nav">
                    <div class="slider__item"><span>Įkūrėjas, vadovas</span><span>Darius Roževič</span></div>
                    <div class="slider__item"><span>Projektų vadovė</span><span>Ida Janušauskaitė</span></div>
                    <div class="slider__item"><span>Full-stack programuotojas</span><span>Karolis Svirskas</span></div>
                    <div class="slider__item"><span>Front-end programuotojas</span><span>Tomas Žukovskij</span></div>
                    <div class="slider__item"><span>UX/UI dizaineris</span><span>Roman Bobrov</span></div>
                    <div class="slider__item"><span>UX/UI dizainerė</span><span>Renata Razmaitė</span></div>
                  </div>
                  <div class="gradient-box"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="clients">
          <div class="grid">
            <div class="row row--inline-middle">
              <div class="col lg-4-12 lg-push-left-1-12 md-5-12">
                <h2 class="client-box-title animation-scroll">Klientai</h2>
                <h2 class="heading-mobile animation-scroll"><span class="animation-container--about"><span class="animation-item--about" style="transition-delay: 300ms;">Klientai</span></span></h2>
                <div class="client-box animation-scroll">
                  <div class="client-box__item"><img src="assets/img/works/logos/getjet-airlines-logo.svg" alt="Getjet Airlines logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/conresta-logo.svg" alt="Conresta logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/vilnius-logo.svg" alt="Vilniaus miesto logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/login-logo.svg" alt="Login logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/walless-logo.svg" alt="Walless logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/tiketa-logo.svg" alt="Tiketa logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/factory-logo--dark.svg" alt="Factory by Ribas logotipas"></div>
                  <div class="client-box__item"><img src="assets/img/works/logos/rackray-logo.svg" alt="Rackray logotipas"></div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="col lg-5-12 md-push-left-1-12 md-6-12">
                <div class="text-box animation-scroll">
                  <h2><span class="animation-container--about"><span class="animation-item--about" style="transition-delay: 300ms;">Ar tikrai Jūs?</span></span></h2>
                  <p><span class="animation-container--about"><span class="animation-item--about" style="transition-delay: 350ms;">Esame savo srities specialistai, abejingi šablonams ir „puse rankų" nudirbtiems darbams, todėl savo paslaugas siūlome ieškantiems įdomių ir nestandartinių interneto sprendimų.</span></span><span class="animation-container--about"><span class="animation-item--about" style="transition-delay: 400ms;">Kad drauge siektume įkvepiančių tikslų, glaudaus bendradarbiavimo bei Jūsų verslo sėkmę garantuojančių rezultatų. Trumpiau tariant, dirbame sunkiai ir nuoširdžiai, tad esame reiklūs ne tik sau, bet ir savo klientams.</span></span></p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="main-lines"><span></span><span></span><span></span></div>
      </main>
      <section id="cta">
        <div class="va-center">
          <div class="grid">
            <div class="row">
              <div class="col sm-6-12 sm-push-left-3-12 ta-center">
                <div class="cta__content">
                  <h2><span class="animation-container--cta"><span class="animation-item--cta">Esate pasiruošę?</span></span></h2>
                  <div class="animation-btn-container"><a class="btn btn--inverse btn--large" href="https://vsbl.lt/kontaktai#form" style="transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 200ms, opacity 1000ms cubic-bezier(.6,.24,.02,.99) 200ms">Pasikalbėkime</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main-lines"><span></span><span></span><span></span></div>
        <footer>
          <div class="grid grid--full">
            <div class="row">
              <div class="col xs-12-12">
                <div class="social-links">
                  <ul>
                    <li><a href="https://www.facebook.com/Vsblwebstudio/" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path d="M40.43 21.739h-7.645v-5.014c0-1.883 1.248-2.322 2.127-2.322h5.395V6.125l-7.43-.029c-8.248 0-10.125 6.174-10.125 10.125v5.518h-4.77v8.53h4.77v24.137h10.033V30.269h6.77l.875-8.53z" fill="#ffffff"/>
</svg></a></li>
                    <li><a href="https://dribbble.com/vsblwebstudio" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M52.43 24.152a24.597 24.597 0 0 0-3.72-8.845 24.87 24.87 0 0 0-10.873-8.955 24.813 24.813 0 0 0-19.247 0 24.777 24.777 0 0 0-10.873 8.955 24.56 24.56 0 0 0-3.722 8.845 24.877 24.877 0 0 0 0 9.956 24.67 24.67 0 0 0 6.737 12.502 24.696 24.696 0 0 0 7.857 5.295 24.687 24.687 0 0 0 9.624 1.945 24.668 24.668 0 0 0 13.822-4.224 24.857 24.857 0 0 0 6.674-6.672 24.62 24.62 0 0 0 4.222-13.826 24.706 24.706 0 0 0-.501-4.976zm-3.114 4.767c-.305-.066-7.449-1.604-14.703-.692a63.211 63.211 0 0 0-1.859-4.152c8.338-3.402 11.723-8.297 11.762-8.355a21.006 21.006 0 0 1 4.8 13.199zm-7.16-15.634c-.053.082-3.059 4.658-11.027 7.645-3.609-6.631-7.574-11.898-7.891-12.316a21.077 21.077 0 0 1 4.975-.596 21.029 21.029 0 0 1 13.943 5.267zm-19-4.654c0 .002-.004.004-.004.004l-.062.014c.021-.006.045-.01.066-.018zm-3.951 1.404c.281.377 4.186 5.67 7.84 12.164-10.137 2.693-18.934 2.588-19.492 2.578 1.372-6.539 5.765-11.961 11.652-14.742zM7.102 29.128c0-.225.01-.445.018-.667.372.008 10.804.245 21.673-3.008a69.069 69.069 0 0 1 1.713 3.589c-.279.078-.557.162-.832.252-11.393 3.682-17.172 13.934-17.172 13.934s.008.006.008.01a21.042 21.042 0 0 1-5.408-14.11zm21.111 21.113a21.02 21.02 0 0 1-13.447-4.838c.277.225.473.369.473.369s4.047-8.826 16.566-13.188c.047-.018.094-.031.141-.045 2.971 7.719 4.197 14.184 4.51 16.029a21.003 21.003 0 0 1-8.243 1.673zM40.01 46.64c-.215-1.275-1.34-7.471-4.109-15.08 6.814-1.09 12.721.779 13.156.922-.94 5.882-4.307 10.956-9.047 14.158z" fill-rule="evenodd" fill="#ffffff"/>
</svg></a></li>
                  </ul>
                </div>
                <div class="legal">VSBL Web Studio &copy; 2014-<span></span></div>
              </div>
            </div>
          </div>
        </footer>
        <div class="page-dim"></div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
        <script type="text/javascript" src="/assets/js/min/fullpage-min.js"></script>
        <script type="text/javascript" src="/assets/js/min/slick-min.js"></script>
        <script type="text/javascript" src="/assets/js/min/script-min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82780609-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-82780609-1');
        </script>
      </section>
      <div class="page-dim"></div>
    </div>
  </body>
</html>

pug_files/apie-mus.pug
doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | Apie VSBL Web studio, jos komandos narius bei klientus',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/apie-mus'
	)

	//- BODY
	body

		//- Page container
		#page-container.page--white.page--about

			//- Header
			+header('', '', 'active', '')

			//- Main
			main.main--about
				.about__mobile-content
					.grid
						.row
							.col.xl-push-left-1-12.lg-8-12.md-10-12
								h1
									span.animation-container
										span.animation-item(style="transition-delay: 100ms") Apie mus
								p
									span.animation-container
										span.animation-item(style="transition-delay: 150ms") geriausiai kalba mūsų darbai, tačiau norime papasakoti daugiau.			
				section#about
					.grid
						.row.row--inline-middle
							.col.lg-5-12.lg-push-left-1-12.md-6-12
								.text-box
									h2
										span.animation-container
											span.animation-item(style="transition-delay: 100ms;") Kas mes?
									p
										span.animation-container 
											span.animation-item(style="transition-delay: 150ms;") VSBL Web Studio profesionalų komandą subūrė bendras žinojimas, kad sėkmingas verslas turi būti matomas ir toks, kurį noris matyti.
										span.animation-container
											span.animation-item(style="transition-delay: 200ms;") Nuo tada, sutelkę skirtingas savo patirtis bei siekdami geriausių - išmatuojamų rezultatų, dirbame tik su tais, kurie savo amatui atsidavę taip, kaip ir mes.
							.col.lg-4-12.lg-push-left-1-12.md-6-12
								.team-slider-container
									.team-slider
										.slider__item
											img(src="assets/img/team/team-darius.jpg" alt="VSBL Agency komandos narys - Darius")
										.slider__item
											img(src="assets/img/team/team-ida.jpg" alt="VSBL Agency komandos narys - Ida")
										.slider__item
											img(src="assets/img/team/team-karolis.jpg" alt="VSBL Agency komandos narys - Karolis")
										.slider__item
											img(src="assets/img/team/team-tomas.jpg" alt="VSBL Agency komandos narys - Tomas")
										.slider__item
											img(src="assets/img/team/team-roman.jpg" alt="VSBL Agency komandos narys - Roman")
										.slider__item
											img(src="assets/img/team/team-renata.jpg" alt="VSBL Agency komandos narys - Renata")
									.team-slider-nav
										.slider__item
											span Įkūrėjas, vadovas
											span Darius Roževič
										.slider__item
											span Projektų vadovė
											span Ida Janušauskaitė
										.slider__item
											span Full-stack programuotojas
											span Karolis Svirskas
										.slider__item
											span Front-end programuotojas
											span Tomas Žukovskij
										.slider__item
											span UX/UI dizaineris
											span Roman Bobrov
										.slider__item
											span UX/UI dizainerė
											span Renata Razmaitė
									.gradient-box
				section#clients
					.grid
						.row.row--inline-middle
							.col.lg-4-12.lg-push-left-1-12.md-5-12
								h2.client-box-title.animation-scroll Klientai
								h2.heading-mobile.animation-scroll
									span.animation-container--about
										span.animation-item--about(style="transition-delay: 300ms;") Klientai
								.client-box.animation-scroll
									.client-box__item: img(src="assets/img/works/logos/getjet-airlines-logo.svg" alt="Getjet Airlines logotipas")
									.client-box__item: img(src="assets/img/works/logos/conresta-logo.svg" alt="Conresta logotipas")
									.client-box__item: img(src="assets/img/works/logos/vilnius-logo.svg" alt="Vilniaus miesto logotipas")
									.client-box__item: img(src="assets/img/works/logos/login-logo.svg" alt="Login logotipas")
									.client-box__item: img(src="assets/img/works/logos/walless-logo.svg" alt="Walless logotipas")
									.client-box__item: img(src="assets/img/works/logos/tiketa-logo.svg" alt="Tiketa logotipas")
									//- .client-box__item: img(src="assets/img/works/logos/bosca-logo.svg" alt="Bosca logotipas")
									.client-box__item: img(src="assets/img/works/logos/factory-logo--dark.svg" alt="Factory by Ribas logotipas")
									.client-box__item: img(src="assets/img/works/logos/rackray-logo.svg" alt="Rackray logotipas")
									//- .client-box__item: img(src="assets/img/works/logos/cranbalt-logo.svg" alt="Cranbalt logotipas")
									.clear
							.col.lg-5-12.md-push-left-1-12.md-6-12
								.text-box.animation-scroll
									h2
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 300ms;") Ar tikrai Jūs?
									p
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 350ms;") Esame savo srities specialistai, abejingi šablonams ir „puse rankų" nudirbtiems darbams, todėl savo paslaugas siūlome ieškantiems įdomių ir nestandartinių interneto sprendimų.
										span.animation-container--about
											span.animation-item--about(style="transition-delay: 400ms;") Kad drauge siektume įkvepiančių tikslų, glaudaus bendradarbiavimo bei Jūsų verslo sėkmę garantuojančių rezultatų. Trumpiau tariant, dirbame sunkiai ir nuoširdžiai, tad esame reiklūs ne tik sau, bet ir savo klientams.



				//- Bg lines
				include includes/structure/structure_bg-lines

			section#cta
				.va-center
					.grid
						.row
							.col.sm-6-12.sm-push-left-3-12.ta-center
								.cta__content
									h2
										span.animation-container--cta
											span.animation-item--cta Esate pasiruošę?
									.animation-btn-container
										a(href="https://vsbl.lt/kontaktai#form" style="transition: transform 1000ms cubic-bezier(.6,.24,.02,.99) 200ms, opacity 1000ms cubic-bezier(.6,.24,.02,.99) 200ms").btn.btn--inverse.btn--large Pasikalbėkime

				//- Bg lines
				include includes/structure/structure_bg-lines

				//- Footer
				include includes/global/global_footer
			.page-dim
