kontaktai.html
<!DOCTYPE html>
<html lang="lt">
    <head>
      <title>VSBL | VSBL Web Studio kontaktinė informacija</title>
      <meta name="description" content="Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="canonical" href="https://vsbl.lt/kontaktai"><link rel="apple-touch-icon-precomposed" sizes="57x57" href="assets/img/favicon/apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/img/favicon/apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/img/favicon/apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/img/favicon/apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/img/favicon/apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/img/favicon/apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="assets/img/favicon/favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="assets/img/favicon/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="assets/img/favicon/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="assets/img/favicon/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="assets/img/favicon/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="assets/img/favicon/mstile-310x310.png" />
      <meta property="og:locale" content="lt_LT">
      <meta property="og:type" content="website">
      <meta property="og:title" content="VSBL Web Studio | UX, UI &amp; Web development studija">
      <meta property="og:description" content="Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti.">
      <meta property="og:url" content="https://vsbl.lt/">
      <meta property="og:site_name" content="VSBL agency">
      <meta property="fb:app_id" content="1739287756320420">
      <meta property="og:image" content="http://vsbl.lt/assets/img/og-image.png">
      <meta property="og:image:width" content="1200">
      <meta property="og:image:height" content="630">
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K6CM9GL');
      </script>
      <!--
      @license
      MyFonts Webfont Build ID 3623792, 2018-08-18T03:59:41-0400
      The fonts listed in this notice are subject to the End User License
      Agreement(s) entered into by the website owner. All other parties are 
      explicitly restricted from using the Licensed Webfonts(s).
      You may obtain a valid license at the URLs below.
      Webfont: Gilroy-SemiBold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/semi-bold/
      Webfont: Gilroy-Medium by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/medium/
      Webfont: Gilroy-ExtraBold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/extra-bold/
      Webfont: Gilroy-Bold by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/bold/
      Webfont: Gilroy-Black by Radomir Tinkov
      URL: https://www.myfonts.com/fonts/radomir-tinkov/gilroy/black/
      License: https://www.myfonts.com/viewlicense?type=web&buildid=3623792
      Licensed pageviews: 10,000
      Webfonts copyright: Copyright &#x00A9; 2016 by Radomir Tinkov. All rights reserved.
      © 2018 MyFonts Inc
      
      -->
      <link rel="stylesheet" href="assets/css/style.css">
    </head>
  <body class="page--dark page--contacts">
    <div id="page-container">
        <header>
          <div class="grid grid--full">
            <div class="row">
              <div class="col xs-12-12"><a class="logo" href="/"><img src="assets/img/logo.svg" alt="VSBL Web Studio logotipas" title="VSBL Web Studio logotipas"></a>
                <nav class="nav--desktop">
                  <ul>
                    <li><a href="https://vsbl.lt/darbai">Darbai</a></li>
                    <li><a href="https://vsbl.lt/internetiniu-svetainiu-kurimas">Galimybės</a></li>
                    <li><a href="https://vsbl.lt/apie-mus">Apie mus</a></li>
                    <li class="active"><a href="https://vsbl.lt/kontaktai">Kontaktai</a></li>
                  </ul>
                </nav>
                <button id="burger-menu-btn"><span></span><span></span></button>
                <nav class="nav--mobile">
                  <ul>
                    <li><a href="https://vsbl.lt/darbai">Darbai</a></li>
                    <li><a href="https://vsbl.lt/internetiniu-svetainiu-kurimas">Galimybės</a></li>
                    <li><a href="https://vsbl.lt/apie-mus">Apie mus</a></li>
                    <li class="active"><a href="https://vsbl.lt/kontaktai">Kontaktai</a></li>
                  </ul>
                  <div class="social-links">
                    <ul>
                      <li><a href="https://www.facebook.com/Vsblwebstudio/" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path d="M40.43 21.739h-7.645v-5.014c0-1.883 1.248-2.322 2.127-2.322h5.395V6.125l-7.43-.029c-8.248 0-10.125 6.174-10.125 10.125v5.518h-4.77v8.53h4.77v24.137h10.033V30.269h6.77l.875-8.53z" fill="#ffffff"/>
</svg></a></li>
                      <li><a href="https://dribbble.com/vsblwebstudio" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M52.43 24.152a24.597 24.597 0 0 0-3.72-8.845 24.87 24.87 0 0 0-10.873-8.955 24.813 24.813 0 0 0-19.247 0 24.777 24.777 0 0 0-10.873 8.955 24.56 24.56 0 0 0-3.722 8.845 24.877 24.877 0 0 0 0 9.956 24.67 24.67 0 0 0 6.737 12.502 24.696 24.696 0 0 0 7.857 5.295 24.687 24.687 0 0 0 9.624 1.945 24.668 24.668 0 0 0 13.822-4.224 24.857 24.857 0 0 0 6.674-6.672 24.62 24.62 0 0 0 4.222-13.826 24.706 24.706 0 0 0-.501-4.976zm-3.114 4.767c-.305-.066-7.449-1.604-14.703-.692a63.211 63.211 0 0 0-1.859-4.152c8.338-3.402 11.723-8.297 11.762-8.355a21.006 21.006 0 0 1 4.8 13.199zm-7.16-15.634c-.053.082-3.059 4.658-11.027 7.645-3.609-6.631-7.574-11.898-7.891-12.316a21.077 21.077 0 0 1 4.975-.596 21.029 21.029 0 0 1 13.943 5.267zm-19-4.654c0 .002-.004.004-.004.004l-.062.014c.021-.006.045-.01.066-.018zm-3.951 1.404c.281.377 4.186 5.67 7.84 12.164-10.137 2.693-18.934 2.588-19.492 2.578 1.372-6.539 5.765-11.961 11.652-14.742zM7.102 29.128c0-.225.01-.445.018-.667.372.008 10.804.245 21.673-3.008a69.069 69.069 0 0 1 1.713 3.589c-.279.078-.557.162-.832.252-11.393 3.682-17.172 13.934-17.172 13.934s.008.006.008.01a21.042 21.042 0 0 1-5.408-14.11zm21.111 21.113a21.02 21.02 0 0 1-13.447-4.838c.277.225.473.369.473.369s4.047-8.826 16.566-13.188c.047-.018.094-.031.141-.045 2.971 7.719 4.197 14.184 4.51 16.029a21.003 21.003 0 0 1-8.243 1.673zM40.01 46.64c-.215-1.275-1.34-7.471-4.109-15.08 6.814-1.09 12.721.779 13.156.922-.94 5.882-4.307 10.956-9.047 14.158z" fill-rule="evenodd" fill="#ffffff"/>
</svg></a></li>
                    </ul>
                  </div>
                  <div class="lines"><span></span><span></span></div>
                </nav>
              </div>
            </div>
          </div>
        </header>
      <main>
        <section id="contacts">
          <div class="contacts__content">
            <div class="grid">
              <div class="row">
                <div class="col xl-push-left-1-12 xl-10-12">
                  <div class="text-box">
                    <h1><span class="animation-container"><span class="animation-item" style="transition-delay: 100ms">Susipažinkime</span></span></h1>
                    <p><span class="animation-container"><span class="animation-item" style="transition-delay: 250ms">ir pradėkime pasakoti Jūsų verslo istoriją.</span></span></p>
                  </div>
                  <div class="contacts-box">
                    <div class="gradient-box gradient-box--animation"></div>
                    <ul class="contacts-list">
                      <li><span>Parašykite</span><span> <span>h</span><span>e</span><span>l</span><span>l</span><span>o</span><span>@</span><span>v</span><span>s</span><span>b</span><span>l</span><span>.</span><span>l</span><span>t</span></span></li>
                      <li><span>Paskambinkite</span><span> <span>+</span><span>3</span><span>7</span><span>0</span><span> </span><span>6</span><span>8</span><span>2</span><span> </span><span>4</span><span>4</span><span>5</span><span>8</span><span>8</span></span></li>
                      <li><span>Aplankykite</span><span>T. Ševčenkos g. 16a, Vilnius</span></li>
                      <li><span>Užpildykite</span><a class="btn btn--primary btn--inverse btn--small" href="#form" id="scroll-to-form">klausimyną</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section id="form">
          <div class="grid">
            <div class="row">
              <div class="col xl-push-left-1-12 xl-10-12">
                <div class="text-box">
                  <h2><span class="animation-container"><span class="animation-item" style="transition-delay: 100ms">Turite minutę?</span></span></h2>
                  <p><span class="animation-container"><span class="animation-item" style="transition-delay: 250ms">Užpildykite formą žemiau.</span></span></p>
                </div>
              </div>
              <div class="col xl-push-left-1-12 xl-10-12">
                <form action="mail_handler.php" method="post">
                  <div class="form__block from__block--checkbox">
                    <div class="row">
                      <div class="col xs-12-12">
                        <div class="text-box">
                          <h3>Poreikiai</h3>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-strategy" name="strategija_ir_planavimas" value="Strategija ir planavimas">
                        <label for="input-strategy">Strategija ir planavimas</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-design" name="dizainas" value="Dizainas">
                        <label for="input-design">Dizainas</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-development" name="programavimas" value="Programavimas">
                        <label for="input-development">Programavimas</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-website" name="interneto_svetaine" value="Interneto svetainė">
                        <label for="input-website">Interneto svetainė</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-ecommerce" name="elektronine_parduptuve" value="Elektroninė parduotuvė">
                        <label for="input-ecommerce">Elektroninė parduotuvė</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-analysis" name="dabartines_svetaines_analize" value="Dabartinės svetainės analizė">
                        <label for="input-analysis">Dabartinės svetainės analizė												</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-other" name="kita">
                        <label for="input-other">Kita <span>(nurodykite komentaruose)</span></label>
                      </div>
                    </div>
                  </div>
                  <div class="form__block from__block--checkbox">
                    <div class="row">
                      <div class="col xs-12-12">
                        <div class="text-box">
                          <h3>Terminas</h3>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-asap" name="reikejo_vakar" value="Reikėjo vakar">
                        <label for="input-asap">Reikėjo vakar</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-3-month" name="iki_3_men" value="Iki 3 mėn.">
                        <label for="input-3-month">Iki 3 mėn. </label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-6-month" name="iki_6_men" value="Iki 6 mėn. arba daugiau">
                        <label for="input-6-month">Iki 6 mėn. arba daugiau</label>
                      </div>
                    </div>
                  </div>
                  <div class="form__block from__block--checkbox">
                    <div class="row">
                      <div class="col xs-12-12">
                        <div class="text-box">
                          <h3>Biudžetas, €</h3>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-3000" name="iki_3000" value="iki 3,000">
                        <label for="input-3000">iki 3,000</label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-7000" name="iki_7000" value="iki 7,000">
                        <label for="input-7000">iki 7,000 </label>
                      </div>
                      <div class="col md-4-12">
                        <input type="checkbox" id="input-10000" name="iki_10000" value="iki 10,000 arba daugiau">
                        <label for="input-10000">iki 10,000 arba daugiau</label>
                      </div>
                    </div>
                  </div>
                  <div class="form__block form__block--input">
                    <div class="row">
                      <div class="col xs-12-12">
                        <div class="text-box">
                          <h3>Bendra informacija										</h3>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <div class="block__input">
                          <input type="text" id="input-name" name="vardas">
                          <label for="input-name" id="name-label">Vardas </label>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <div class="block__input">
                          <input type="email" id="input-email" name="pastas">
                          <label for="input-email" id="label-email">El. paštas </label>
                        </div>
                      </div>
                      <div class="col md-4-12">
                        <div class="block__input">
                          <input type="tel" id="input-phone" name="telefonas">
                          <label for="input-phone" id="label-phone">Telefonas</label>
                        </div>
                      </div>
                      <div class="col md-12-12">
                        <div class="block__input">
                          <textarea id="input-message" name="komentaras"></textarea>
                          <label for="input-message">Papildomi komentarai</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form__block">
                    <div class="row">
                      <div class="col xs-12-12 ta-right">
                        <button class="btn btn--primary btn--inverse btn--small" id="form-submit" type="submit" name="submit">Siųsti užklausą</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <div class="main-lines"><span></span><span></span><span></span></div>
      </main>
      <footer>
        <div class="grid grid--full">
          <div class="row">
            <div class="col xs-12-12">
              <div class="social-links">
                <ul>
                  <li><a href="https://www.facebook.com/Vsblwebstudio/" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path d="M40.43 21.739h-7.645v-5.014c0-1.883 1.248-2.322 2.127-2.322h5.395V6.125l-7.43-.029c-8.248 0-10.125 6.174-10.125 10.125v5.518h-4.77v8.53h4.77v24.137h10.033V30.269h6.77l.875-8.53z" fill="#ffffff"/>
</svg></a></li>
                  <li><a href="https://dribbble.com/vsblwebstudio" target="_blank"><svg height="20" viewBox="0 0 56.693 56.693" width="20" xmlns="http://www.w3.org/2000/svg">
<path clip-rule="evenodd" d="M52.43 24.152a24.597 24.597 0 0 0-3.72-8.845 24.87 24.87 0 0 0-10.873-8.955 24.813 24.813 0 0 0-19.247 0 24.777 24.777 0 0 0-10.873 8.955 24.56 24.56 0 0 0-3.722 8.845 24.877 24.877 0 0 0 0 9.956 24.67 24.67 0 0 0 6.737 12.502 24.696 24.696 0 0 0 7.857 5.295 24.687 24.687 0 0 0 9.624 1.945 24.668 24.668 0 0 0 13.822-4.224 24.857 24.857 0 0 0 6.674-6.672 24.62 24.62 0 0 0 4.222-13.826 24.706 24.706 0 0 0-.501-4.976zm-3.114 4.767c-.305-.066-7.449-1.604-14.703-.692a63.211 63.211 0 0 0-1.859-4.152c8.338-3.402 11.723-8.297 11.762-8.355a21.006 21.006 0 0 1 4.8 13.199zm-7.16-15.634c-.053.082-3.059 4.658-11.027 7.645-3.609-6.631-7.574-11.898-7.891-12.316a21.077 21.077 0 0 1 4.975-.596 21.029 21.029 0 0 1 13.943 5.267zm-19-4.654c0 .002-.004.004-.004.004l-.062.014c.021-.006.045-.01.066-.018zm-3.951 1.404c.281.377 4.186 5.67 7.84 12.164-10.137 2.693-18.934 2.588-19.492 2.578 1.372-6.539 5.765-11.961 11.652-14.742zM7.102 29.128c0-.225.01-.445.018-.667.372.008 10.804.245 21.673-3.008a69.069 69.069 0 0 1 1.713 3.589c-.279.078-.557.162-.832.252-11.393 3.682-17.172 13.934-17.172 13.934s.008.006.008.01a21.042 21.042 0 0 1-5.408-14.11zm21.111 21.113a21.02 21.02 0 0 1-13.447-4.838c.277.225.473.369.473.369s4.047-8.826 16.566-13.188c.047-.018.094-.031.141-.045 2.971 7.719 4.197 14.184 4.51 16.029a21.003 21.003 0 0 1-8.243 1.673zM40.01 46.64c-.215-1.275-1.34-7.471-4.109-15.08 6.814-1.09 12.721.779 13.156.922-.94 5.882-4.307 10.956-9.047 14.158z" fill-rule="evenodd" fill="#ffffff"/>
</svg></a></li>
                </ul>
              </div>
              <div class="legal">VSBL Web Studio &copy; 2014-<span></span></div>
            </div>
          </div>
        </div>
      </footer>
      <div class="page-dim"></div>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
      <script type="text/javascript" src="assets/js/min/fullpage-min.js"></script>
      <script type="text/javascript" src="assets/js/min/slick-min.js"></script>
      <script type="text/javascript" src="assets/js/min/script-min.js"></script>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82780609-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-82780609-1');
      </script>
    </div>
  </body>
</html>

pug_files/kontaktai.pug
doctype html
html(lang="lt")

	//- MIXINS
	include includes/mixins/mixins

	//- HEAD
		- Title
		- Description
		- Canonical url
	+head(
		'VSBL | VSBL Web Studio kontaktinė informacija',
		'Padedame verslams tapti matomais ir tokiais, kuriuos noris matyti. Esame skaitmeninės kūrybos ir dizaino specialistų komanda, kurianti premium klasės interneto svetaines ir elektronines parduotuves, šio darbo pamatu laikydami verslumu ir logika grindžiamą požiūrį į inovacijas bei kūrybiškumą.',
		'https://vsbl.lt/kontaktai'
	)

	//- BODY
	body.page--dark.page--contacts

		//- Page container
		#page-container

			//- Header
			+header('', '', '', 'active')

			//- Main
			main
				section#contacts
					.contacts__content
						.grid
							.row
								.col.xl-push-left-1-12.xl-10-12
									.text-box
										h1
											span.animation-container
												span.animation-item(style="transition-delay: 100ms") Susipažinkime
										p
											span.animation-container
												span.animation-item(style="transition-delay: 250ms") ir pradėkime pasakoti Jūsų verslo istoriją.
									.contacts-box
										.gradient-box.gradient-box--animation
										ul.contacts-list
											li
												span Parašykite
												span 
													span h
													span e
													span l
													span l
													span o
													span @
													span v
													span s
													span b
													span l
													span .
													span l
													span t
											li
												span Paskambinkite
												span 
													span +
													span 3
													span 7
													span 0
													span  
													span 6
													span 8
													span 2
													span  
													span 4
													span 4
													span 5
													span 8
													span 8
											li
												span Aplankykite
												span T. Ševčenkos g. 16a, Vilnius
											li
												span Užpildykite
												a(href="#form" id="scroll-to-form").btn.btn--primary.btn--inverse.btn--small klausimyną
				section#form
					.grid
						.row
							.col.xl-push-left-1-12.xl-10-12
								.text-box
									h2
										span.animation-container
											span.animation-item(style="transition-delay: 100ms") Turite minutę?
									p
										span.animation-container
											span.animation-item(style="transition-delay: 250ms") Užpildykite formą žemiau.
							.col.xl-push-left-1-12.xl-10-12
								form(action="mail_handler.php" method="post")
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Poreikiai
											.col.md-4-12
												input(type="checkbox" id="input-strategy" name="strategija_ir_planavimas" value="Strategija ir planavimas")
												label(for="input-strategy") Strategija ir planavimas
											.col.md-4-12
												input(type="checkbox" id="input-design" name="dizainas" value="Dizainas")
												label(for="input-design") Dizainas
											.col.md-4-12
												input(type="checkbox" id="input-development" name="programavimas" value="Programavimas")
												label(for="input-development") Programavimas
											.col.md-4-12
												input(type="checkbox" id="input-website" name="interneto_svetaine" value="Interneto svetainė")
												label(for="input-website") Interneto svetainė
											.col.md-4-12
												input(type="checkbox" id="input-ecommerce" name="elektronine_parduptuve" value="Elektroninė parduotuvė")
												label(for="input-ecommerce") Elektroninė parduotuvė
											.col.md-4-12
												input(type="checkbox" id="input-analysis" name="dabartines_svetaines_analize" value="Dabartinės svetainės analizė")
												label(for="input-analysis") Dabartinės svetainės analizė												
											.col.md-4-12
												input(type="checkbox" id="input-other" name="kita")
												label(for="input-other") Kita 
													span (nurodykite komentaruose)
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Terminas
											.col.md-4-12
												input(type="checkbox" id="input-asap" name="reikejo_vakar" value="Reikėjo vakar")
												label(for="input-asap") Reikėjo vakar
											.col.md-4-12
												input(type="checkbox" id="input-3-month" name="iki_3_men" value="Iki 3 mėn.")
												label(for="input-3-month") Iki 3 mėn. 
											.col.md-4-12
												input(type="checkbox" id="input-6-month" name="iki_6_men" value="Iki 6 mėn. arba daugiau")
												label(for="input-6-month") Iki 6 mėn. arba daugiau
									.form__block.from__block--checkbox
										.row
											.col.xs-12-12
												.text-box
													h3 Biudžetas, €
											.col.md-4-12
												input(type="checkbox" id="input-3000" name="iki_3000" value="iki 3,000")
												label(for="input-3000") iki 3,000
											.col.md-4-12
												input(type="checkbox" id="input-7000" name="iki_7000" value="iki 7,000")
												label(for="input-7000") iki 7,000 
											.col.md-4-12
												input(type="checkbox" id="input-10000" name="iki_10000" value="iki 10,000 arba daugiau")
												label(for="input-10000") iki 10,000 arba daugiau
									.form__block.form__block--input
										.row
											.col.xs-12-12
												.text-box
													h3 Bendra informacija										
											.col.md-4-12
												.block__input
													input(type="text" id="input-name" name="vardas")
													label(for="input-name" id="name-label") Vardas 
											.col.md-4-12
												.block__input
													input(type="email" id="input-email" name="pastas")
													label(for="input-email" id="label-email") El. paštas 
											.col.md-4-12
												.block__input
													input(type="tel" id="input-phone" name="telefonas")
													label(for="input-phone" id="label-phone") Telefonas
											.col.md-12-12
												.block__input
													textarea(id="input-message" name="komentaras")
													label(for="input-message") Papildomi komentarai
									.form__block
										.row
											.col.xs-12-12.ta-right
												button#form-submit.btn.btn--primary.btn--inverse.btn--small(type='submit' name="submit") Siųsti užklausą
									//- .text-box
									//- 	h3 Bendra informacija

				//- Bg lines
				include includes/structure/structure_bg-lines

			//- Footer
			include includes/global/global_footer
